<h3 ic="cp_module_header"><span id="cp_batch_num">{{ batch_size }}</span> document(s)</h3>

<div id="cp_module_ctrl_holder">
	<div class="cp_module">
		<ul id="cp_batch_doc_list"></ul>
	</div>
	<div class="cp_module">
		<ul id="cp_batch_common_funcs_list"></ul>
	</div>
</div>
<div id="cp_module_output_holder"></div>

<script type="text/javascript">
	if(window.UnveillanceUser && current_user) {
		$("#cp_module_header").append(
			$(document.createElement('a'))
				.addClass('cp_button')
				.click(current_batch.save)
				.html("Save")
		);
	}
</script>