<div class="cp_pod cp_instructions">
	<p>The <b>console</b> allows you to run your own scripts on assets.  Currently, <b>only python is supported</b>.</p>
	<p>Click on an asset below to include it in your script.  You could also type it directly into the editor by prefixing it with <b>"document."</b>  For example: <pre>
for word in document.bag_of_words:
	print word
</pre></p>
</div>
<div id="cp_console">
	<div id="cp_console_obj_holder">
		<ul></ul>
	</div>
	<div id="cp_console_script_holder">
		<textarea>
print "WANT TO TEST? %d" % (10 * 2)
print "DONE!"
		</textarea>
	</div>
	<div id="cp_console_opts">
		<ul>
			<li><a onclick="cp_console.run();">run</a></li>
			<li><a onclick="cp_console.save();">save</a></li>
		</ul>
	</div>
	<a name="cp_console_output_holder"></a>
	<div id="cp_console_output_holder"></div>
</div>