{"compass.sync" : {
	"google_drive" : {
		"scopes" : [
			"https://www.googleapis.com/auth/drive",
			"https://www.googleapis.com/auth/drive.file"
		],
		"client_id" : "1069642418271-9m2mbba5sse0fmrika9s82fh0vob9g3q.apps.googleusercontent.com",
		"client_secret" : "kUnBel_m8k7tcGhWDgEtM-Jc",
		"redirect_uri" : "/auth/drive",
		"client_email" : "harlo.holmes@nytimes.com"	
	}
},"unveillance.local_remote" : {
	"hostname" : "10.51.118.238",
	"port" : 22,
	"user" : "danse",
	"uv_uuid" : "danse-v1",
	"remote_path" : "/home/danse/unveillance_remote"
}}