<div id="cp_document_header_holder">
	<div>
		<h2 id="cp_document_header">
			<a class="uv_translate uv_from_rel" 
				rel="{{ file_alias }}" 
				onclick="toggleElement('#cp_document_opts');">
					{{ file_name }}
			</a>
		</h2>
		<div id="cp_document_opts" class="uv_toggle_none">
			<a onclick="onTagEditorRequested();">Edit tags</a>
		</div>
	</div>
	<div id="cp_document_tags_holder">
		<div id="cp_document_tags"></div>
		<div id="cp_document_tag_editor" class="uv_toggle_none">tag: <input type="text" /></div>
	</div>
</div>