<table class="cp_wb_entity">
	<tr>
		<td class="cp_entity_color" style="background-color:{{ color }};">&nbsp;&nbsp;&nbsp</td>
		<td class="cp_entity_label">{{ label }}</td>
		<td class="cp_entity_count">(<span class="wb_count">{{ count }}</span>)</td>
		<td class="cp_entity_show_toggle"><input onclick="_.findWhere(current_viz, {id : 'word_stats'}).toggleWord(this, '{{ label }}');" type="checkbox" id="cp_wb_toggle_{{ hash }}" /></td>
		<td class="cp_entity_remove"><a onclick="_.findWhere(current_viz, {id : 'word_stats'}).removeWord('{{ label }}');">x</a></td>
	</tr>
</table>