<div id="cp_header_options">
	<table style="width:inherit;">
		<tr style="vertical-align:bottom;">
			<td width="70%"><div id="cp_searchbar_holder"></div></td>
			<td><a class="uv_button" onclick="buildAndPerform();">Search</a></td>
			<td>
				<div id="cp_annex_button">
					<a onclick="showAnnex();"><img src="/web/images/file_cabinet.png" /></a>
				</div>
			</td>
			<td>
				<div id="cp_unveillance_logo">
					<a href="/">
						<h2>Unveillance</h2>
					</a>
				</div>
			</td>
		</tr>
	</table>
</div>
<div id="cp_annex_holder">
	<table>
		<tr>
			<td><a onclick=""><b>Filename</b></a></td>
			<td><a onclick=""><b>Mime Type</b></a></td>
			<td><a onclick=""><b>Date Added</b></a></td>
		</tr>
	</table>
</div>