<div id="cp_document_header_holder">
	<h2 id="cp_document_header"></h2>
	<div id="cp_document_opts" class="uv_toggle_none">
		<a onclick="toggleElement('#cp_document_tags');">tags</a>
	</div>
	<div id="cp_document_tags"></div>
</div>
<table width="100%">
	<tr>
		<td width="16%">
			<div id="cp_entity_browser"></div>
		</td>
		<td width="84%">
			<div id="cp_document_viewer">
				<div id="cp_document_viewer_control">
					<a onclick="document_viewer.clearAllSVGS();">Clear all</a>
				</div>
				<div id="cp_word_stats"></div>
				<div id="cp_entity_stats"></div>
			</div>
		</td>
	</tr>
</table>